{"openapi":"3.1.0","info":{"title":"Platform APIs","version":"v1","description":"fal REST API for programmatic access to platform resources."},"servers":[{"url":"https://api.fal.ai/v1","description":"Production server"}],"components":{"securitySchemes":{"adminApiKey":{"type":"apiKey","in":"header","name":"Authorization","description":"Admin API key must be prefixed with \"Key \", e.g. Authorization: Key YOUR_ADMIN_API_KEY"},"apiKey":{"type":"apiKey","in":"header","name":"Authorization","description":"API key must be prefixed with \"Key \", e.g. Authorization: Key YOUR_API_KEY"}},"schemas":{},"parameters":{}},"paths":{"/models":{"get":{"operationId":"getModels","summary":"Model search","x-mint":{"href":"/platform-apis/v1/models","mcp":{"enabled":true},"metadata":{"sidebarTitle":"Model Search"}},"description":"\nUnified endpoint for discovering model endpoints. Supports three usage modes:\n\n**1. List Mode** (no parameters):\nPaginated list of all available model endpoints with minimal metadata.\n\n**2. Find Mode** (`endpoint_id` parameter):\nRetrieve specific model endpoint(s) by ID. Supports single or multiple IDs.\n\n**3. Search Mode** (search parameters):\nFilter models by free-text query, category, or status.\n\n**Expansion:**\nUse `expand` to include additional data in each model object:\n- `openapi-3.0` — full OpenAPI 3.0 schema in the `openapi` field\n- `enterprise_status` — enterprise readiness status (`ready` or `pending`) in the `enterprise_status` field\n\n**Examples of `endpoint_id` values:**\n- `fal-ai/flux/dev`\n- `fal-ai/wan/v2.2-a14b/text-to-video`\n- `fal-ai/minimax/video-01/image-to-video`\n- `fal-ai/hunyuan3d-v21`\n\nSee [fal.ai Model APIs](https://docs.fal.ai/model-apis) for more details.\n\n**Authentication:** Optional. Providing an API key grants higher rate limits.\n\n**Common Use Cases:**\n- Browse available models for integration\n- Retrieve metadata for specific endpoints\n- Search for models by category or keywords\n- Get OpenAPI schemas for code generation\n- Build model selection interfaces\n    ","tags":["Models"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Endpoint ID(s) to retrieve (e.g., 'fal-ai/flux/dev'). Can be a single value or multiple values (1-50 models). When combined with search params, narrows results to these IDs. Use array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev","fal-ai/flux-pro"]},"required":false,"description":"Endpoint ID(s) to retrieve (e.g., 'fal-ai/flux/dev'). Can be a single value or multiple values (1-50 models). When combined with search params, narrows results to these IDs. Use array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"type":"string","description":"Free-text search query to filter models by name, description, or category","example":"text to image"},"required":false,"description":"Free-text search query to filter models by name, description, or category","name":"q","in":"query"},{"schema":{"type":"string","description":"Filter by category (e.g., 'text-to-image', 'image-to-video', 'training')","example":"text-to-image"},"required":false,"description":"Filter by category (e.g., 'text-to-image', 'image-to-video', 'training')","name":"category","in":"query"},{"schema":{"type":"string","enum":["active","deprecated"],"description":"Filter models by status - omit to include all statuses","example":"active"},"required":false,"description":"Filter models by status - omit to include all statuses","name":"status","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Fields to expand in the response. Supported values: 'openapi-3.0' (includes full OpenAPI 3.0 schema in 'openapi' field), 'enterprise_status' (includes enterprise readiness status)","example":["openapi-3.0","enterprise_status"]},"required":false,"description":"Fields to expand in the response. Supported values: 'openapi-3.0' (includes full OpenAPI 3.0 schema in 'openapi' field), 'enterprise_status' (includes enterprise readiness status)","name":"expand","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Successfully retrieved model endpoints","content":{"application/json":{"schema":{"type":"object","properties":{"models":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Stable identifier used to call the model (e.g., 'fal-ai/wan/v2.2-a14b/text-to-video', 'fal-ai/minimax/video-01/image-to-video', 'fal-ai/hunyuan3d-v21')"},"metadata":{"type":"object","properties":{"display_name":{"type":"string","description":"Human-readable label shown on Explore/Model pages"},"category":{"type":"string","description":"Model category (e.g., 'text-to-image', 'image-to-video', 'text-to-video', 'image-to-3d', 'training')"},"description":{"type":"string","description":"Brief description of the model's capabilities and use cases"},"status":{"type":"string","enum":["active","deprecated"],"description":"'active' or 'deprecated'. Newest models are surfaced in Explore and may be flagged as 'new/beta' in tags"},"tags":{"type":"array","items":{"type":"string"},"description":"Freeform tags such as 'new', 'beta', 'pro', or 'turbo' (Explore badges)"},"updated_at":{"type":"string","description":"ISO8601 timestamp of when the model was last updated"},"is_favorited":{"type":["boolean","null"],"description":"Whether the model is favorited by the authenticated user (null when unauthenticated)"},"thumbnail_url":{"type":"string","description":"Main thumbnail image URL"},"thumbnail_animated_url":{"type":"string","description":"Animated thumbnail URL (optional)"},"model_url":{"type":"string","description":"Full model endpoint URL (e.g., https://fal.run/...)"},"github_url":{"type":"string","description":"License or GitHub URL (optional)"},"license_type":{"type":"string","enum":["commercial","research","private"],"description":"License type for the model (optional)"},"date":{"type":"string","description":"ISO8601 timestamp of model creation"},"group":{"type":"object","properties":{"key":{"type":"string","description":"Group key identifier"},"label":{"type":"string","description":"Human-readable group label"}},"required":["key","label"],"description":"Model group information (optional)"},"highlighted":{"type":"boolean","description":"Whether the model is highlighted (deprecated, always false)","deprecated":true,"example":false},"kind":{"type":"string","enum":["inference","training"],"description":"Model kind - inference or training (optional)"},"training_endpoint_ids":{"type":"array","items":{"type":"string"},"description":"Related training endpoint IDs (optional, only present when non-empty, for inference models)"},"inference_endpoint_ids":{"type":"array","items":{"type":"string"},"description":"Related inference endpoint IDs (optional, only present when non-empty, for training models)"},"stream_url":{"type":"string","description":"Streaming endpoint URL (optional)"},"duration_estimate":{"type":"number","description":"Estimated duration in minutes (optional)"},"pinned":{"type":"boolean","description":"Whether the model is pinned (deprecated, always false)","deprecated":true,"example":false}},"required":["display_name","category","description","status","tags","updated_at","is_favorited","thumbnail_url","model_url","date","highlighted","pinned"],"description":"Model metadata (optional - may be absent for endpoints without registry entries)"},"openapi":{"anyOf":[{"type":"object","properties":{"openapi":{"type":"string","description":"OpenAPI version (e.g., '3.0.4')"}},"required":["openapi"],"additionalProperties":{},"description":"OpenAPI 3.0 specification for the model"},{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code (e.g., 'expansion_failed')"},"message":{"type":"string","description":"Human-readable error message"}},"required":["code","message"],"description":"Error details for failed OpenAPI expansion"}},"required":["error"],"description":"Error encountered while expanding OpenAPI schema"}],"description":"OpenAPI 3.0 specification or error (present when expand=openapi-3.0 is requested)"},"enterprise_status":{"anyOf":[{"type":"string","enum":["ready","pending"],"description":"'ready' means approved for enterprise use, 'pending' means awaiting approval"},{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code (e.g., 'expansion_failed')"},"message":{"type":"string","description":"Human-readable error message"}},"required":["code","message"],"description":"Error details for failed enterprise status expansion"}},"required":["error"],"description":"Error encountered while expanding enterprise status"}],"description":"Enterprise readiness status (present when expand=enterprise_status is requested)"}},"required":["endpoint_id"],"description":"Model information with optional metadata and expandable fields"},"description":"Array of model information"},"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"}},"required":["models","has_more"],"description":"Response containing model data with pagination support"},"example":{"models":[{"endpoint_id":"fal-ai/flux/dev","metadata":{"display_name":"FLUX.1 [dev]","category":"text-to-image","description":"Fast text-to-image generation","status":"active","tags":["fast","pro"],"updated_at":"2025-01-15T12:00:00Z","is_favorited":false,"thumbnail_url":"https://fal.media/files/example.jpg","model_url":"https://fal.run/fal-ai/flux/dev","date":"2024-08-01T00:00:00Z","highlighted":false,"pinned":false}}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"server_error","message":"An unexpected error occurred"}}}}}}}},"/models/pricing":{"get":{"operationId":"getPricing","summary":"Pricing","x-mint":{"href":"/platform-apis/v1/models/pricing","metadata":{"sidebarTitle":"Pricing"}},"description":"\nReturns unit pricing for requested endpoint IDs. Most models use\n**output-based** pricing (e.g., per image/video with proportional\nadjustments for resolution/length). Some models use **GPU-based** pricing\ndepending on architecture. Values are expressed per model's billing unit\nin a given currency.\n\n**Authentication:** Required. Users must provide a valid API key. \nCustom pricing or discounts may be applied based on account status.\n\n**Common Use Cases:**\n- Display pricing in user interfaces\n- Compare pricing across different models\n- Build cost estimation tools\n- Check current billing rates\n\nSee [fal.ai pricing](https://fal.ai/pricing) for more details.\n    ","tags":["Models","Pricing"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev"]},"required":true,"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Pricing information retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"prices":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Endpoint identifier (e.g., 'fal-ai/wan/v2.2-a14b/text-to-video', 'fal-ai/minimax/video-01/image-to-video')"},"unit_price":{"type":"number","minimum":0,"description":"Base price per billing unit (often per generated output; may be per GPU-second for some models) in the specified currency"},"unit":{"type":"string","description":"Unit of measurement for billing: 'image', 'video', or provider-specific GPU/compute unit when applicable. Most models use output-based pricing."},"currency":{"type":"string","minLength":3,"maxLength":3,"description":"Three-letter currency code (ISO 4217, e.g., 'USD')"}},"required":["endpoint_id","unit_price","unit","currency"],"description":"Pricing information for a specific model endpoint. Most models use output-based pricing (e.g., per image/video with proportional adjustments for resolution/length). Some models use GPU-based pricing depending on architecture."},"description":"Pricing information for requested endpoints"}},"required":["next_cursor","has_more","prices"],"description":"Response containing pricing information for requested endpoints"},"example":{"prices":[{"endpoint_id":"fal-ai/flux/dev","unit_price":0.025,"unit":"image","currency":"USD"}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}}}}},"/models/pricing/estimate":{"post":{"operationId":"estimatePricing","summary":"Estimate cost","x-mint":{"href":"/platform-apis/v1/models/pricing/estimate","metadata":{"sidebarTitle":"Estimate Cost"}},"description":"\nComputes cost estimates using one of two methods:\n\n**1. Historical API Price** (`historical_api_price`):\n- Based on historical pricing per API call from past usage patterns\n- Takes `call_quantity` (number of API calls) per endpoint\n- Useful for estimating based on actual historical usage patterns\n- Example: \"How much will 100 calls to flux/dev cost?\"\n\n**2. Unit Price** (`unit_price`):\n- Based on unit price × expected billing units from pricing service\n- Takes `unit_quantity` (number of billing units like images/videos) per endpoint\n- Useful when you know the expected output quantity\n- Example: \"How much will 50 images from flux/dev cost?\"\n\n**Authentication:** Required. Users must provide a valid API key.\nCustom pricing or discounts may be applied based on account status.\n\n**Common Use Cases:**\n- Pre-calculate costs for batch operations\n- Display cost estimates in user interfaces\n- Budget planning and cost optimization\n\nSee [fal.ai pricing](https://fal.ai/pricing) for more details.\n    ","tags":["Models","Pricing"],"security":[{"apiKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"estimate_type":{"type":"string","enum":["historical_api_price"],"description":"Estimate type: historical API pricing based on past usage patterns"},"endpoints":{"type":"object","additionalProperties":{"type":"object","properties":{"call_quantity":{"type":"integer","minimum":1,"description":"Number of API calls to estimate (regardless of units per call)"}},"required":["call_quantity"]},"description":"Map of endpoint IDs to call quantities"}},"required":["estimate_type","endpoints"],"description":"Historical API price estimate: Calculates cost based on historical pricing per API call. Useful for estimating costs based on actual usage patterns."},{"type":"object","properties":{"estimate_type":{"type":"string","enum":["unit_price"],"description":"Estimate type: unit price calculation based on billing units"},"endpoints":{"type":"object","additionalProperties":{"type":"object","properties":{"unit_quantity":{"type":"number","minimum":0.000001,"description":"Number of billing units expected (e.g., number of images, videos, etc.)"}},"required":["unit_quantity"]},"description":"Map of endpoint IDs to unit quantities"}},"required":["estimate_type","endpoints"],"description":"Unit price estimate: Calculates cost based on unit price × billing units. Useful for estimating costs when you know the expected output quantity."}],"example":{"estimate_type":"historical_api_price","endpoints":{"fal-ai/flux/dev":{"call_quantity":100},"fal-ai/flux/schnell":{"call_quantity":50}}}},"examples":{"historical":{"value":{"estimate_type":"historical_api_price","endpoints":{"fal-ai/flux/dev":{"call_quantity":100},"fal-ai/flux/schnell":{"call_quantity":50}}},"summary":"Historical API price estimate"},"unit_price":{"value":{"estimate_type":"unit_price","endpoints":{"fal-ai/flux/dev":{"unit_quantity":50},"fal-ai/flux-pro":{"unit_quantity":25}}},"summary":"Unit price estimate"}}}}},"responses":{"200":{"description":"Cost estimates calculated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"estimate_type":{"type":"string","enum":["historical_api_price","unit_price"],"description":"The type of estimate that was performed"},"total_cost":{"type":"number","minimum":0,"description":"Total estimated cost across all endpoints"},"currency":{"type":"string","minLength":3,"maxLength":3,"description":"Three-letter currency code (ISO 4217, e.g., 'USD')"}},"required":["estimate_type","total_cost","currency"],"description":"Cost estimation response with total cost","example":{"estimate_type":"historical_api_price","total_cost":3.75,"currency":"USD"}},"examples":{"historical":{"value":{"estimate_type":"historical_api_price","total_cost":3.75,"currency":"USD"},"summary":"Historical API price estimate result"},"unit_price":{"value":{"estimate_type":"unit_price","total_cost":1.88,"currency":"USD"},"summary":"Unit price estimate result"}}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}}}}},"/models/usage":{"get":{"operationId":"getUsage","summary":"Usage","x-mint":{"href":"/platform-apis/v1/models/usage","metadata":{"sidebarTitle":"Usage"}},"description":"\nReturns paginated usage records for your workspace with filters for endpoint,\nuser, date range, and auth method. Each item includes the billed unit\nquantity and unit price used to compute cost.\n\n**Key Features:**\n- Usage data for all endpoints or filtered by specific endpoint(s)\n- Flexible date range filtering\n- User-specific usage tracking\n- Detailed usage line items with unit quantity and price\n- Paginated results for large datasets\n\n**Common Use Cases:**\n- Generate usage reports for all endpoints or specific models\n- Track usage patterns\n- Monitor endpoint usage across different auth methods\n- Build usage dashboards and visualizations\n\nSee [fal.ai docs](https://docs.fal.ai/model-apis/faq) for more details.\n    ","tags":["Models","Usage"],"security":[{"adminApiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","example":"2025-01-01T00:00:00Z"},"required":false,"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","example":"2025-02-01T00:00:00Z"},"required":false,"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","name":"end","in":"query"},{"schema":{"type":"string","default":"UTC","description":"Timezone for date aggregation and boundaries. All timestamps in responses are in UTC, but this controls how dates are bucketed.","example":"UTC"},"required":false,"description":"Timezone for date aggregation and boundaries. All timestamps in responses are in UTC, but this controls how dates are bucketed.","name":"timezone","in":"query"},{"schema":{"type":"string","enum":["minute","hour","day","week","month"],"description":"Aggregation timeframe for timeseries data (auto-detected from date range if not specified). Auto-detection uses: minute (<2h), hour (<2d), day (<64d), week (<183d), month (>=183d).","example":"day"},"required":false,"description":"Aggregation timeframe for timeseries data (auto-detected from date range if not specified). Auto-detection uses: minute (<2h), hour (<2d), day (<64d), week (<183d), month (>=183d).","name":"timeframe","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to adjust start/end dates to align with timeframe boundaries and use exclusive end. Defaults to true. When true, dates are aligned to the start of the timeframe period (e.g., start of day) and end is made exclusive (e.g., start of next day). When false, uses exact dates provided.","example":"true"},"required":false,"description":"Whether to adjust start/end dates to align with timeframe boundaries and use exclusive end. Defaults to true. When true, dates are aligned to the start of the timeframe period (e.g., start of day) and end is made exclusive (e.g., start of next day). When false, uses exact dates provided.","name":"bound_to_timeframe","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev"]},"required":false,"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"default":["time_series"],"description":"Data to include in the response. Use 'time_series' for time-bucketed data, 'summary' for aggregate statistics, and 'auth_method' to include authentication method information (formatted with user key aliases). At least one of 'time_series' or 'summary' is required.","example":["time_series","auth_method"]},"required":false,"description":"Data to include in the response. Use 'time_series' for time-bucketed data, 'summary' for aggregate statistics, and 'auth_method' to include authentication method information (formatted with user key aliases). At least one of 'time_series' or 'summary' is required.","name":"expand","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Usage data retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"time_series":{"type":"array","items":{"type":"object","properties":{"bucket":{"type":"string","description":"Time bucket timestamp in user's timezone with offset (ISO8601 datetime)"},"results":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Endpoint identifier that was used (e.g., 'fal-ai/flux/dev')"},"unit":{"type":"string","description":"The billing unit (e.g., 'image', 'video', or a GPU/compute unit for some models)"},"quantity":{"type":"number","minimum":0,"description":"Quantity of usage in the specified billing unit"},"unit_price":{"type":"number","minimum":0,"description":"Unit price used to compute charges for this line item"},"cost":{"type":"number","minimum":0,"description":"Computed cost (quantity × unit_price)"},"currency":{"type":"string","minLength":3,"maxLength":3,"description":"Three-letter currency code (ISO 4217, e.g., 'USD')"},"auth_method":{"type":"string","description":"Authentication method label (e.g., 'Key 1', 'Key 2', 'User token'). Only populated when 'auth_method' is included in expand parameter."}},"required":["endpoint_id","unit","quantity","unit_price","cost","currency"],"description":"Usage line item with billing details"},"description":"Usage records for this time bucket"}},"required":["bucket","results"],"description":"Time bucket with grouped usage records"},"description":"Time series usage data grouped by time bucket (when expand includes 'time_series'). Each bucket contains all usage records for that time period."},"summary":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Endpoint identifier that was used (e.g., 'fal-ai/flux/dev')"},"unit":{"type":"string","description":"The billing unit (e.g., 'image', 'video', or a GPU/compute unit for some models)"},"quantity":{"type":"number","minimum":0,"description":"Quantity of usage in the specified billing unit"},"unit_price":{"type":"number","minimum":0,"description":"Unit price used to compute charges for this line item"},"cost":{"type":"number","minimum":0,"description":"Computed cost (quantity × unit_price)"},"currency":{"type":"string","minLength":3,"maxLength":3,"description":"Three-letter currency code (ISO 4217, e.g., 'USD')"},"auth_method":{"type":"string","description":"Authentication method label (e.g., 'Key 1', 'Key 2', 'User token'). Only populated when 'auth_method' is included in expand parameter."}},"required":["endpoint_id","unit","quantity","unit_price","cost","currency"],"description":"Aggregate usage statistics for the entire date range"},"description":"Aggregate statistics (when expand includes 'summary')"}},"required":["next_cursor","has_more"],"description":"Response containing usage data with pagination support"},"example":{"time_series":[{"bucket":"2025-01-15T00:00:00-05:00","results":[{"endpoint_id":"fal-ai/flux/dev","unit":"image","quantity":4,"unit_price":0.1,"cost":0.4,"currency":"USD","auth_method":"Production Key"}]}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}}}}},"/models/analytics":{"get":{"operationId":"getAnalytics","summary":"Analytics","x-mint":{"href":"/platform-apis/v1/models/analytics","metadata":{"sidebarTitle":"Analytics"}},"description":"\nTime-bucketed metrics per model endpoint, including request counts, success/error\nrates, and latency percentiles. `prepare_duration` reflects queue/prepare\ntime before execution; `duration` is request execution time. Use with the\nQueue/Webhooks flow to monitor SLAs.\n\n**Metric Selection:**\nYou must specify which metrics to include using the `expand` query\nparameter. Only requested metrics will be populated in the response,\nallowing you to optimize query performance and data transfer.\n\n**Available Metrics:**\n- `request_count`: Total number of requests in the time bucket\n- `success_count`: Number of successful requests (2xx responses)\n- `user_error_count`: Number of user errors (4xx responses)\n- `error_count`: Number of server errors (5xx responses)\n- `p50_prepare_duration`: 50th percentile queue/prepare time\n- `p75_prepare_duration`: 75th percentile queue/prepare time\n- `p90_prepare_duration`: 90th percentile queue/prepare time\n- `p50_duration`: 50th percentile request execution duration\n- `p75_duration`: 75th percentile request execution duration\n- `p90_duration`: 90th percentile request execution duration\n\n**Key Features:**\n- Selective metric inclusion via expand parameter\n- Performance metrics (latency percentiles, duration stats)\n- Reliability metrics (success/error rates, request counts)\n- Time-bucketed data for trend analysis\n- Single or multi-model analytics\n- Flexible date range and timeframe options\n\n**Common Use Cases:**\n- Monitor model performance and reliability\n- Generate performance dashboards\n- Analyze latency trends and patterns\n- Track error rates and success metrics\n\nSee [Queue API docs](https://docs.fal.ai/model-apis/model-endpoints/queue) for more details.\n    ","tags":["Models","Analytics"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","example":"2025-01-01T00:00:00Z"},"required":false,"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","example":"2025-02-01T00:00:00Z"},"required":false,"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","name":"end","in":"query"},{"schema":{"type":"string","default":"UTC","description":"Timezone for date aggregation and boundaries. All timestamps in responses are in UTC, but this controls how dates are bucketed.","example":"UTC"},"required":false,"description":"Timezone for date aggregation and boundaries. All timestamps in responses are in UTC, but this controls how dates are bucketed.","name":"timezone","in":"query"},{"schema":{"type":"string","enum":["minute","hour","day","week","month"],"description":"Aggregation timeframe for timeseries data (auto-detected from date range if not specified). Auto-detection uses: minute (<2h), hour (<2d), day (<64d), week (<183d), month (>=183d).","example":"day"},"required":false,"description":"Aggregation timeframe for timeseries data (auto-detected from date range if not specified). Auto-detection uses: minute (<2h), hour (<2d), day (<64d), week (<183d), month (>=183d).","name":"timeframe","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to adjust start/end dates to align with timeframe boundaries and use exclusive end. Defaults to true. When true, dates are aligned to the start of the timeframe period (e.g., start of day) and end is made exclusive (e.g., start of next day). When false, uses exact dates provided.","example":"true"},"required":false,"description":"Whether to adjust start/end dates to align with timeframe boundaries and use exclusive end. Defaults to true. When true, dates are aligned to the start of the timeframe period (e.g., start of day) and end is made exclusive (e.g., start of next day). When false, uses exact dates provided.","name":"bound_to_timeframe","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev"]},"required":true,"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"default":["time_series","request_count"],"description":"Data and metrics to include in the response. Use 'time_series' for time-bucketed data, metric names for specific metrics in time series, and 'summary' for aggregate statistics. At least one of 'time_series' or 'summary' and at least one metric are required.","example":["request_count","success_count"]},"required":false,"description":"Data and metrics to include in the response. Use 'time_series' for time-bucketed data, metric names for specific metrics in time series, and 'summary' for aggregate statistics. At least one of 'time_series' or 'summary' and at least one metric are required.","name":"expand","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Analytics data retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"time_series":{"type":"array","items":{"type":"object","properties":{"bucket":{"type":"string","description":"Time bucket timestamp in user's timezone with offset (ISO8601 datetime)"},"results":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Endpoint identifier for these statistics"},"request_count":{"type":"integer","minimum":0,"description":"Total number of requests"},"success_count":{"type":"integer","minimum":0,"description":"Number of successful requests (2xx responses)"},"user_error_count":{"type":"integer","minimum":0,"description":"Number of user errors (4xx responses)"},"error_count":{"type":"integer","minimum":0,"description":"Number of server errors (5xx responses)"},"p50_prepare_duration":{"type":"number","minimum":0,"description":"50th percentile queue/prepare time before execution in seconds"},"p75_prepare_duration":{"type":"number","minimum":0,"description":"75th percentile queue/prepare time before execution in seconds"},"p90_prepare_duration":{"type":"number","minimum":0,"description":"90th percentile queue/prepare time before execution in seconds"},"p50_duration":{"type":"number","minimum":0,"description":"50th percentile request execution duration in seconds"},"p75_duration":{"type":"number","minimum":0,"description":"75th percentile request execution duration in seconds"},"p90_duration":{"type":"number","minimum":0,"description":"90th percentile request execution duration in seconds"}},"required":["endpoint_id"],"description":"Performance and reliability analytics. Only requested metrics (via expand parameter) will be present in the response. 'prepare_duration' reflects queue/prepare time before execution; 'duration' is request execution time."},"description":"Analytics records for this time bucket"}},"required":["bucket","results"],"description":"Time bucket with grouped analytics records"},"description":"Time series analytics data grouped by time bucket (when expand includes 'time_series'). Each bucket contains all analytics records for that time period."},"summary":{"type":"array","items":{"type":"object","properties":{"endpoint_id":{"type":"string","description":"Endpoint identifier for these statistics"},"request_count":{"type":"integer","minimum":0,"description":"Total number of requests"},"success_count":{"type":"integer","minimum":0,"description":"Number of successful requests (2xx responses)"},"user_error_count":{"type":"integer","minimum":0,"description":"Number of user errors (4xx responses)"},"error_count":{"type":"integer","minimum":0,"description":"Number of server errors (5xx responses)"},"p50_prepare_duration":{"type":"number","minimum":0,"description":"50th percentile queue/prepare time before execution in seconds"},"p75_prepare_duration":{"type":"number","minimum":0,"description":"75th percentile queue/prepare time before execution in seconds"},"p90_prepare_duration":{"type":"number","minimum":0,"description":"90th percentile queue/prepare time before execution in seconds"},"p50_duration":{"type":"number","minimum":0,"description":"50th percentile request execution duration in seconds"},"p75_duration":{"type":"number","minimum":0,"description":"75th percentile request execution duration in seconds"},"p90_duration":{"type":"number","minimum":0,"description":"90th percentile request execution duration in seconds"}},"required":["endpoint_id"],"description":"Aggregate performance statistics for the entire date range"},"description":"Aggregate statistics (when expand includes 'summary')"}},"required":["next_cursor","has_more"],"description":"Response containing performance analytics with pagination support"},"example":{"time_series":[{"bucket":"2025-01-15T12:00:00-05:00","results":[{"endpoint_id":"fal-ai/flux/dev","request_count":1500,"success_count":1450,"p50_duration":2.5,"p90_duration":4.8}]}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"server_error","message":"An unexpected error occurred"}}}}}}}},"/models/billing-events":{"get":{"operationId":"getBillingEvents","summary":"Billing Events","x-mint":{"href":"/platform-apis/v1/models/billing-events","metadata":{"sidebarTitle":"Billing Events"}},"description":"\nReturns paginated individual billing event records with filters\nfor endpoint and date range. Each record includes the request ID, timestamp,\nendpoint, and output units billed.\n\n**Key Features:**\n- Individual billing event records for each API request\n- Flexible date range filtering\n- Optional endpoint filtering\n- Cursor-based pagination for efficient large dataset queries\n- Limited to 10000 records per page for performance\n- Date range capped at 90 days per request\n\n**Common Use Cases:**\n- Audit individual billing events\n- Track request patterns and volumes\n- Debug specific requests by ID\n- Monitor billing unit consumption per request\n\nSee [fal.ai docs](https://docs.fal.ai/model-apis/faq) for more details.\n    ","tags":["Models","Usage"],"security":[{"adminApiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","example":"2025-01-01T00:00:00Z"},"required":false,"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","example":"2025-02-01T00:00:00Z"},"required":false,"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","name":"end","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev"]},"required":false,"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific request ID(s). Accepts 1-50 request IDs. Supports comma-separated values: ?request_id=req1,req2 or array syntax: ?request_id=req1&request_id=req2","example":["req-abc123"]},"required":false,"description":"Filter by specific request ID(s). Accepts 1-50 request IDs. Supports comma-separated values: ?request_id=req1,req2 or array syntax: ?request_id=req1&request_id=req2","name":"request_id","style":"form","explode":true,"in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Data to include in the response. Use 'auth_method' to include authentication method information (formatted with user key aliases).","example":"auth_method"},"required":false,"description":"Data to include in the response. Use 'auth_method' to include authentication method information (formatted with user key aliases).","name":"expand","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Billing event data retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"billing_events":{"type":"array","items":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique identifier for the request"},"endpoint_id":{"type":"string","description":"Endpoint identifier that was used (e.g., 'fal-ai/flux/dev')"},"timestamp":{"type":"string","description":"Request timestamp in ISO8601 format"},"output_units":{"type":["number","null"],"minimum":0,"description":"Custom billing units for this request"},"unit_price":{"type":["number","null"],"minimum":0,"description":"Unit price for this request"},"percent_discount":{"type":["number","null"],"description":"Discount percentage applied to this request (e.g., 10 = 10% discount)"},"cost_estimate_nano_usd":{"type":"number","minimum":0,"description":"Estimated cost in nano USD (1 USD = 1,000,000,000 nano USD)"},"auth_method":{"type":"string","description":"Authentication method label (e.g., 'Key 1', 'API Key', 'User token'). Only populated when 'auth_method' is included in expand parameter."}},"required":["request_id","endpoint_id","timestamp","output_units","unit_price","percent_discount","cost_estimate_nano_usd"],"description":"Individual billing event record with details"},"description":"List of billing event records"}},"required":["next_cursor","has_more","billing_events"],"description":"Response containing billing event data with pagination support"},"example":{"billing_events":[{"request_id":"abc123","endpoint_id":"fal-ai/flux/dev","timestamp":"2025-01-15T10:30:45Z","output_units":1.5,"unit_price":0.001,"percent_discount":null,"cost_estimate_nano_usd":1500000},{"request_id":"def456","endpoint_id":"fal-ai/flux/dev","timestamp":"2025-01-15T10:25:30Z","output_units":2,"unit_price":0.001,"percent_discount":10,"cost_estimate_nano_usd":1800000}],"next_cursor":"MjAyNS0wMS0xNVQxMDoyNTozMFo=","has_more":true}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}}}}},"/models/requests/{request_id}/payloads":{"delete":{"operationId":"deleteRequestPayloads","summary":"Delete request payloads","x-mint":{"href":"/platform-apis/v1/models/requests/payloads","metadata":{"sidebarTitle":"Delete Request Payloads"}},"description":"Deletes the IO payloads and associated CDN output files for a specific request.\n\n**Important:**\n- Only **output** CDN files are deleted (input files may be used by other requests)\n- This action is irreversible\n- Requires authentication with an admin API key\n\n**What gets deleted:**\n- Request input/output payload data\n- CDN-hosted output files (images, videos, etc.)\n\n**What is NOT deleted:**\n- Input CDN files (may be referenced by other requests)\n\n**Response:**\n- Returns deletion status for each CDN file\n- Each result includes the file link and any error that occurred\n\n**Idempotency:**\n- Optional Idempotency-Key header prevents duplicate deletions on retries\n- Responses cached for 10 minutes per unique key\n\nSee [fal.ai docs](https://docs.fal.ai/model-apis/payloads) for more details about request payloads.","tags":["Models","Requests"],"security":[{"adminApiKey":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"Unique identifier for the request (UUID format)","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"description":"Unique identifier for the request (UUID format)","name":"request_id","in":"path"},{"schema":{"type":"string","description":"Optional idempotency key for safe request retries","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"Optional idempotency key for safe request retries","name":"Idempotency-Key","in":"header"}],"responses":{"200":{"description":"Request payloads deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"cdn_delete_results":{"type":"array","items":{"type":"object","properties":{"link":{"type":"string","description":"CDN URL of the file that was targeted for deletion","example":"https://v3.fal.media/files/example/output.png"},"exception":{"type":["string","null"],"description":"Error message if deletion failed for this file, null if successful","example":null}},"required":["link","exception"],"description":"Result of deleting a single CDN file"},"description":"Array of deletion results for each CDN file associated with the request output"}},"required":["cdn_delete_results"],"description":"Response containing the results of deleting request payloads and CDN output files"},"example":{"cdn_delete_results":[{"link":"https://v3.fal.media/files/abc123/output.png","exception":null},{"link":"https://v3.fal.media/files/def456/output.mp4","exception":null}]}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"server_error","message":"An unexpected error occurred"}}}}}}}},"/models/requests/by-endpoint":{"get":{"operationId":"listRequestsByEndpoint","summary":"List requests by endpoint(s)","x-mint":{"href":"/platform-apis/v1/models/requests/by-endpoint","metadata":{"sidebarTitle":"List Requests by Endpoint"}},"description":"Lists requests for one or more endpoints (same `endpoint_id` style as usage/explore:\ncomma-separated or repeated query params, up to 50 IDs).\n\n**Authentication:** Requires API key (user or enterprise).\n\n**Filters:**\n- Time range via start / end. If `start` is omitted, defaults to the last 24 hours — unless `request_id` is provided, in which case the default start bound is widened to 90 days.\n- Status (success, error, user_error)\n- Request ID\n- Pagination via cursor/limit (limit defaults to 50, max 100)\n\n**Sorting:**\n- By end time (default) or duration\n\n**Expansions:**\n- Include payloads by adding expand=payloads","tags":["Models","Requests"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Number of items to return per page (max 100)","example":20},"required":false,"description":"Number of items to return per page (max 100)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor encoding the page number","example":"Mg=="},"required":false,"description":"Pagination cursor encoding the page number","name":"cursor","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","example":["fal-ai/flux/dev"]},"required":true,"description":"Filter by specific endpoint ID(s). Accepts 1-50 endpoint IDs. Supports comma-separated values: ?endpoint_id=model1,model2 or array syntax: ?endpoint_id=model1&endpoint_id=model2","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","example":"2025-01-01T00:00:00Z"},"required":false,"description":"Start date in ISO8601 format (e.g., '2025-01-01T00:00:00Z' or '2025-01-01'). Defaults to 24 hours ago.","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}],"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","example":"2025-02-01T00:00:00Z"},"required":false,"description":"End date in ISO8601 format, exclusive (e.g., '2025-02-01T00:00:00Z' or '2025-02-01'). Data up to but not including this timestamp is returned. Defaults to current time.","name":"end","in":"query"},{"schema":{"type":"string","enum":["success","error","user_error"],"description":"Filter by request status","example":"success"},"required":false,"description":"Filter by request status","name":"status","in":"query"},{"schema":{"type":"string","format":"uuid","description":"Filter by specific request ID","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":false,"description":"Filter by specific request ID","name":"request_id","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Fields to expand in the response. Use payloads to include input and output payloads.","example":["payloads"]},"required":false,"description":"Fields to expand in the response. Use payloads to include input and output payloads.","name":"expand","style":"form","explode":true,"in":"query"},{"schema":{"type":"string","enum":["ended_at","duration"],"default":"ended_at","description":"Sort results by end time or duration","example":"ended_at"},"required":false,"description":"Sort results by end time or duration","name":"sort_by","in":"query"}],"responses":{"200":{"description":"Requests listed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"items":{"type":"array","items":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid","description":"Unique identifier for the request","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"endpoint_id":{"type":"string","description":"Endpoint that was executed for this request","example":"fal-ai/flux/dev"},"started_at":{"type":"string","format":"date-time","description":"Time when request processing started","example":"2025-01-01T00:00:05Z"},"sent_at":{"type":"string","format":"date-time","description":"Time when request was sent to the backend","example":"2025-01-01T00:00:01Z"},"ended_at":{"type":["string","null"],"format":"date-time","description":"Time when request finished processing","example":"2025-01-01T00:00:08Z"},"status_code":{"type":["integer","null"],"description":"HTTP status code returned by the request","example":200},"duration":{"type":["number","null"],"description":"Total request duration in seconds","example":7.8},"json_input":{"description":"Input payload for the request"},"json_output":{"description":"Output payload for the request"}},"required":["request_id","endpoint_id","started_at","sent_at"],"description":"Request item"},"description":"List of requests matching the filter"}},"required":["next_cursor","has_more","items"],"description":"Paginated list of requests for the specified endpoint"},"example":{"items":[{"request_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","endpoint_id":"fal-ai/flux/dev","started_at":"2025-01-01T00:00:05Z","sent_at":"2025-01-01T00:00:01Z","ended_at":"2025-01-01T00:00:08Z","status_code":200,"duration":7.8,"json_input":{"prompt":"cat astronaut"},"json_output":{"status":"ok"}}],"next_cursor":"Mg==","has_more":true}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"not_found","message":"Resource not found"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"server_error","message":"An unexpected error occurred"}}}}}}}},"/models/requests/search":{"get":{"operationId":"searchRequests","summary":"Search Requests","x-mint":{"href":"/platform-apis/v1/models/requests/search","mcp":{"enabled":true},"metadata":{"sidebarTitle":"Search Requests"}},"description":"Search, filter, and browse your request history. Supports three modes:\n\n**1. Semantic Search** (`query`, `image_url`, or `video_url` parameter):\nFind visually or conceptually similar results using AI embeddings. Provide a text\nquery for text-to-image search, an image URL for image-to-image similarity search,\nor a video URL for video-to-image similarity search.\n\n**2. Filtered Browse** (no `query`, `image_url`, or `video_url`):\nBrowse request history with hard filters. Returns results ordered by creation date (newest first).\n\n**3. Semantic + Filters** (search params AND filter params):\nCombine semantic search with hard filters. Filters narrow the candidate set before\nranking by similarity.\n\n**Filter Options:**\n- `endpoint_id`: Filter by one or more fal endpoints (comma-separated or repeated, up to 50 IDs)\n- `exclude_api_requests` / `only_api_requests`: Filter by request source\n\n**Examples:**\n- Semantic text search: `?query=sunset+landscape`\n- Image similarity: `?image_url=https://...&min_similarity=0.5`\n- Filtered search: `?query=portrait&endpoint_id=fal-ai/flux/dev`\n- Browse across multiple endpoints: `?endpoint_id=fal-ai/flux/dev,fal-ai/flux/schnell`","tags":["Models","Requests"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"type":"string","description":"Text search query for semantic search. Mutually exclusive with image_url and video_url.","example":"sunset landscape"},"required":false,"description":"Text search query for semantic search. Mutually exclusive with image_url and video_url.","name":"query","in":"query"},{"schema":{"type":"string","description":"Image URL for similarity search. Mutually exclusive with query and video_url.","example":"https://v3.fal.media/files/abc123/output.png"},"required":false,"description":"Image URL for similarity search. Mutually exclusive with query and video_url.","name":"image_url","in":"query"},{"schema":{"type":"string","description":"Video URL for similarity search. Mutually exclusive with query and image_url.","example":"https://v3.fal.media/files/abc123/output.mp4"},"required":false,"description":"Video URL for similarity search. Mutually exclusive with query and image_url.","name":"video_url","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by one or more fal endpoints to scope request history. Accepts comma-separated or repeated values (1-50 IDs).","example":["fal-ai/flux/dev"]},"required":false,"description":"Filter by one or more fal endpoints to scope request history. Accepts comma-separated or repeated values (1-50 IDs).","name":"endpoint_id","style":"form","explode":true,"in":"query"},{"schema":{"type":"string","description":"Deprecated: use `endpoint_id`. Single-endpoint filter retained for backward compatibility. If both are provided, `endpoint_id` wins.","deprecated":true,"example":"fal-ai/flux/dev"},"required":false,"description":"Deprecated: use `endpoint_id`. Single-endpoint filter retained for backward compatibility. If both are provided, `endpoint_id` wins.","name":"endpoint","in":"query"},{"schema":{"type":"boolean","description":"Exclude requests made via API keys (only show playground/UI requests). Mutually exclusive with only_api_requests.","example":true},"required":false,"description":"Exclude requests made via API keys (only show playground/UI requests). Mutually exclusive with only_api_requests.","name":"exclude_api_requests","in":"query"},{"schema":{"type":"boolean","description":"Only include requests made via API keys. Mutually exclusive with exclude_api_requests.","example":true},"required":false,"description":"Only include requests made via API keys. Mutually exclusive with exclude_api_requests.","name":"only_api_requests","in":"query"},{"schema":{"type":["number","null"],"minimum":0,"maximum":1,"description":"Minimum similarity score (0-1) for semantic search results. Only applies when query or image_url is provided.","example":0.3},"required":false,"description":"Minimum similarity score (0-1) for semantic search results. Only applies when query or image_url is provided.","name":"min_similarity","in":"query"}],"responses":{"200":{"description":"Successfully retrieved request search results","content":{"application/json":{"schema":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"description":"Cursor for the next page of results, null if no more pages"},"has_more":{"type":"boolean","description":"Boolean indicating if more results are available (convenience field derived from next_cursor)"},"results":{"type":"array","items":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid","description":"Unique identifier for the request","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"endpoint_id":{"type":"string","description":"Endpoint that was executed for this request","example":"fal-ai/flux/dev"},"started_at":{"type":"string","format":"date-time","description":"Time when request processing started","example":"2025-01-01T00:00:05Z"},"sent_at":{"type":"string","format":"date-time","description":"Time when request was sent to the backend","example":"2025-01-01T00:00:01Z"},"ended_at":{"type":["string","null"],"format":"date-time","description":"Time when request finished processing","example":"2025-01-01T00:00:08Z"},"status_code":{"type":["integer","null"],"description":"HTTP status code returned by the request","example":200},"duration":{"type":["number","null"],"description":"Total request duration in seconds","example":7.8},"json_input":{"description":"Input payload for the request"},"json_output":{"description":"Output payload for the request"},"similarity":{"type":"number","minimum":0,"maximum":1,"description":"Similarity score (0-1) when semantic search is used","example":0.87}},"required":["request_id","endpoint_id","started_at","sent_at"],"description":"Request search result"},"description":"Array of matching request results, ordered by relevance or recency"}},"required":["next_cursor","has_more","results"],"description":"Request search results with pagination"},"example":{"results":[{"request_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","endpoint_id":"fal-ai/flux/dev","started_at":"2025-01-15T11:59:55Z","sent_at":"2025-01-15T11:59:50Z","ended_at":"2025-01-15T12:00:00Z","status_code":200,"duration":5,"similarity":0.95}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"validation_error","message":"Invalid request parameters"}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Authentication required"}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"authorization_error","message":"Access denied"}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"rate_limited","message":"Rate limit exceeded"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"type":{"type":"string","enum":["authorization_error","validation_error","not_found","rate_limited","server_error","not_implemented"],"description":"The category of error that occurred"},"message":{"type":"string","description":"Human-readable error message"},"docs_url":{"type":"string","format":"uri","description":"Link to relevant documentation"},"request_id":{"type":"string","description":"Unique request identifier for debugging"}},"required":["type","message"],"description":"Error details"}},"required":["error"],"description":"Standard error response format"},"example":{"error":{"type":"server_error","message":"An unexpected error occurred"}}}}}}}},"/workflows":{"get":{"operationId":"listWorkflows","summary":"List user workflows","x-mint":{"href":"/platform-apis/v1/workflows","metadata":{"sidebarTitle":"List User Workflows"}},"description":"\nList workflows for the authenticated user with optional search and filtering.\n\n**Features:**\n- Paginated results with cursor-based pagination\n- Search by workflow name or title\n- Filter by model endpoints used in the workflow\n\n**Authentication:** Required. Returns only workflows owned by the authenticated user.\n\n**Common Use Cases:**\n- Display user's workflow library\n- Search for specific workflows\n- Find workflows using particular models\n    ","tags":["Workflows"],"security":[{"apiKey":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","example":50},"required":false,"description":"Maximum number of items to return. Actual maximum depends on query type and expansion parameters.","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination cursor from previous response. Encodes the page number.","example":"Mg=="},"required":false,"description":"Pagination cursor from previous response. Encodes the page number.","name":"cursor","in":"query"},{"schema":{"type":"string","description":"Search by workflow name or title","example":"image generation"},"required":false,"description":"Search by workflow name or title","name":"search","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Filter by model endpoint IDs used in the workflow. Can be a single value or comma-separated values.","example":["fal-ai/flux/dev"]},"required":false,"description":"Filter by model endpoint IDs used in the workflow. Can be a single value or comma-separated values.","name":"used_endpoint_ids","style":"form","explode":true,"in":"query"}],"responses":{"200":{"description":"Successfully retrieved workflows","content":{"application/json":{"schema":{"type":"object","properties":{"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Unique workflow name/slug within the user's namespace","example":"my-image-workflow"},"title":{"type":"string","description":"Human-readable workflow title","example":"My Image Generation Workflow"},"user_nickname":{"type":"string","description":"Display name/username of the owner","example":"johndoe"},"created_at":{"type":"string","description":"ISO8601 timestamp of workflow creation","example":"2024-01-15T10:30:00Z"},"thumbnail_url":{"type":"string","description":"URL to the workflow thumbnail image","example":"https://fal.ai/workflows/thumb_abc123.png"},"description":{"type":"string","description":"Brief description of what the workflow does","example":"Generate high-quality images using FLUX model"},"tags":{"type":"array","items":{"type":"string","example":"image-generation"},"description":"Tags associated with the workflow","example":["image-generation","ai","flux"]},"endpoint_ids":{"type":"array","items":{"type":"string","example":"fal-ai/flux/dev"},"description":"List of model endpoint IDs used in this workflow","example":["fal-ai/flux/dev","fal-ai/face-swap"]}},"required":["name","title","user_nickname","created_at","tags","endpoint_ids"],"description":"Workflow information"},"description":"Array of workflow items","example":[{"name":"my-image-workflow","title":"My Image Generation Workflow","user_nickname":"johndoe","created_at":"2024-01-15T10:30:00Z","thumbnail_url":"https://fal.ai/workflows/thumb_abc123.png","description":"Generate high-quality images using FLUX model","tags":["image-generation","
[...]
